.footer {
    background-color: #2c2c2c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'Rubic Dirt', cursive;
    padding: 45px 50px;
}

.footer>.footer-left p {
    color: whitesmoke;
    font-size: 14px;
    margin: 0;
}

.footer>.footer-right {
    float: right;
    display: flex;
    margin-top: 6px;
    max-width: 180px;
}

.footer>.footer-right a {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-left: 14px;
    transition: all .2s;
}

.footer>.footer-right a:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    background-color: rgba(255, 20, 20);
    box-shadow: rgba(255, 20, 20) 0px 5px 9px;
}

@media (max-width:600px) {

    .footer .footer-left,
    .footer .footer-right {
        text-align: center;
    }

    .footer .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
}